# Credenciales de cámara RTSP/ISAPI
RTSP_USER=admin
RTSP_PASSWORD=cambia_esta_contraseña
RTSP_HOST=192.168.1.64
RTSP_CHANNEL=101

# YOLO
YOLO_MODEL=yolov8n.pt

# Web App
API_TOKEN=generate_a_random_token_here
